<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>welcome</title>
  </head>
  <body>
    <h1>welcome to todolist</h1>
    <button class="setCookie">
      <a href="./tutorial">tutorial</a>
    </button>
    <button class="setCookie">
      <a href="./use">use</a>
    </button>
    <script src="./javascripts/app.js"></script>
  </body>
</html>
