<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <%- include('../parts/header') %>
    <form method="post" action="">
      <%= msg ?? '' %>
      <input type="text" name="name" />
      <input type="number" name="price" />
      <input type="submit" value="submit" id="" />
    </form>

    <%- include('../parts/footer.ejs') %>
  </body>
</html>
